{% extends 'base.html' %}

{% block title %}
Ticket Update
{% endblock %}

{% block content %}
<form id="add_form" method="POST">
{% csrf_token %}
{{ form.status }}
{{ form.decline_reason }}
{{ form.reject_reason }}
{{ form.errors }}
 <button form="add_form" type="submit" class="btn btn-outline-secondary mt-4" style="margin-bottom: 25px;">Save</button>
</form>

<script>
document.addEventListener("DOMContentLoaded", function() {
    const statusField = document.querySelector("#id_status");
    const declineReasonField = document.querySelector("#id_decline_reason");
    const rejectReasonField = document.querySelector("#id_reject_reason");

    function updateFields() {
        if (statusField.value === "DeclineToRestore") {
            declineReasonField.required = true;
            declineReasonField.disabled = false;
            rejectReasonField.required = false;
            rejectReasonField.disabled = true;
        } else if (statusField.value === "Rejected") {
            rejectReasonField.required = true;
            rejectReasonField.disabled = false;
            declineReasonField.required = false;
            declineReasonField.disabled = true;
        } else {
            declineReasonField.required = false;
            declineReasonField.disabled = true;
            rejectReasonField.required = false;
            rejectReasonField.disabled = true;
        }
    }

    updateFields();

    statusField.addEventListener("change", updateFields);
});
</script>
{% endblock %}