{% extends 'base.html' %}

{% block title %}
Ticket Detail
{% endblock %}

{% block content %}

<p>{{ ticket }}</p>
<p>{{ ticket.ticket_user }}</p>
<p>{{ ticket.priority }}</p>
<p>{{ ticket.description }}</p>
<p>{{ ticket.status }}</p>

{% if ticket.restore_request %}
<p>Ticket is under consideration for approval/decline.</p>
{% endif %}

{% if ticket.status == 'Declined' or ticket.status == 'InRestoration' %}
<p>{{ ticket.decline_reason }}</p>
{% endif %}

{% if ticket.status == 'Declined' and request.user ==  ticket.ticket_user %}
<a href="{% url 'ticket_restore_view' pk=ticket.id %}" class="btn btn-outline-secondary mt-4" style="margin-bottom: 25px;">Restore ticket</a>
{% endif %}


{% if ticket.status == 'Active' and request.user == ticket.ticket_user %}
<a href="{% url 'ticket_user_update_view' pk=ticket.id %}">Update ticket</a>
{% endif %}


{% if request.user.is_staff and ticket.status == 'InRestoration' or ticket.status == 'Active' and  request.user.is_staff %}
<a href="{% url 'ticket_approve_view' pk=ticket.id %}">Approve</a>
<a href="{% url 'ticket_decline_view' pk=ticket.id %}">Decline</a>
{% endif %}

{% if request.user.is_staff and ticket.status == 'Approved' %}
<a href="{% url 'ticket_in_process_view' pk=ticket.id %}">Move to InProcess</a>
{% endif %}

{% if request.user.is_staff and ticket.status == 'InProcess' %}
<a href="{% url 'ticket_done_view' pk=ticket.id %}">Move to Done</a>
{% endif %}

{% if request.user.is_staff %}
<a href="{% url 'ticket_admin_delete_view' pk=ticket.id %}">Delete</a>
{% endif %}

<p>{{ request.user }}</p>


<p><a href="{% url 'comments_list_view' pk=ticket.id %}">Comments</a></p>


{% endblock %}