{% extends 'base.html' %}

{% block title %}
Comments
{% endblock %}

{% block content %}
<h1>Comments for "{{ ticket.topic }}"</h1>

    <a href="{% url 'ticket_detail_view' ticket.pk %}">Back to Ticket</a>

    <ul>
        {% for comment in comments %}
        <li>
            <p>{{ comment.text }}</p>
            {% if comment.comment_user == request.user %}
            <a href="{% url 'comment_update_view' pk=comment.pk %}">Update</a>
            <a href="{% url 'comment_delete_view' pk=comment.pk %}">Delete</a>
            {% endif %}
            <p>Created by {{ comment.comment_user.username }} on {{ comment.created_date }}</p>
            <hr>
        </li>
        {% empty %}
        <p>No comments available.</p>
        {% endfor %}
    </ul>

{% if ticket.status == 'InProcess' %}
    <a href="{% url 'comment_create_view' pk=ticket.pk %}">Create Comment</a>
{% endif %}

{% endblock %}